:root {
  --border-medium: 0.125rem;
  --border-large: 0.25rem;
  --bottomline-none: 0rem;
  --bottomline-small: 0.25rem;
  --bottomline-medium: 0.5rem;
  --bottomline-large: 1rem;
  --transparency-none: 1;
  --transparency-small: 0.85;
  --transparency-medium: 0.7;
  --transparency-large: 0.5;  
  --color-bg: oklch(96.19% 0 0);
  --color-contrast: oklch(0% 0 0);
  --color-card-bg: oklch(100% 0 106.37);
  --color-card-contrast: oklch(0% 0 0);
  --color-popover-bg: oklch(100% 0 106.37);
  --color-popover-contrast: oklch(0% 0 0);
  --color-primary-base: oklch(72.21% 0.2812 144.53);
  --color-primary-bg: oklch(72.21% 0.2812 144.53);
  --color-primary-contrast: oklch(0% 0 0);
  --color-secondary-base: oklch(65.74% 0.2393 304.41);
  --color-secondary-bg: oklch(65.74% 0.2393 304.41);
  --color-secondary-contrast: oklch(100% 0 106.37);
  --color-selection: oklch(65.74% 0.2393 304.41);
  --color-selection-foreground: oklch(100% 0 106.37);
  --color-muted-bg: oklch(88.45% 0 0);
  --color-muted-contrast: oklch(32.11% 0 0);
  --color-accent-bg: oklch(32.11% 0 0);
  --color-accent-contrast: oklch(100% 0 106.37);
  --color-negative-base: oklch(63.68% 0.2078 25.33);
  --color-negative-contrast: oklch(100% 0 106.37);
  --color-dimmed: oklch(55.47% 0 0);
  --color-border: oklch(92.4% 0.0035 247.86);
  --color-input: oklch(80.54% 0 0);
  --color-ring: oklch(0% 0 0) / 0.5;
  --font: 'MonaspaceNeon', mono;
  --headings: var(--font);
  --radius-button: var(--radius-small);
  --border: var(--border-none);
  --border-button: var(--border-small);
  --bottomline: var(--bottomline-medium);
  --bottomline-hero: var(--bottomline-large);
  --transparency: var(--transparency-none);
  --transparency-banner: var(--transparency-small);
}
