/*
 * Cantarell · SIL OFL (see ../fonts/Cantarell-OFL.txt, shipped alongside per the license).
 * Registered for the per-domaincode theme-override (HD 2026-08-06: uia runs theme 3's
 * colors with Cantarell) — the base themes keep their own fonts; a site opts in via
 * `--font` through src/utils/domainThemeOverrides.ts.
 */

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Cantarell-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Cantarell-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Cantarell-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Cantarell-BoldItalic.ttf) format('truetype');
}
